<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luizgadao.androidestudos" >

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MyGallery"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name=".ui.MyGalleryWithImageSwitcher"
            android:label="@string/title_activity_my_gallery_with_image_switcher" >
        </activity>
        <activity
            android:name=".ui.MyViewPager"
            android:label="@string/title_activity_view_pager" >
        </activity>
        <activity
            android:name=".contentprovider.ContentProviderGetContacts"
            android:label="@string/title_activity_content_provider_get_contacts" >
        </activity>
        <activity
            android:name=".media.TakePhoto"
            android:label="@string/title_activity_take_photo" >
        </activity>
        <activity
            android:name=".ui.MySpinner"
            android:label="@string/title_activity_my_spinner" >
        </activity>
        <activity
            android:name=".TestOnSaveInstanceState"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_test_on_save_instance_state" >
        </activity>
        <activity
            android:name=".ui.view.MyCustomView"
            android:label="@string/title_activity_my_custom_view"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luizgadao.androidestudos.MainActivity" />
        </activity>
        <activity
            android:name=".ui.view.MyCustomView2"
            android:label="@string/title_activity_my_custom_view2"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luizgadao.androidestudos.MainActivity" />
        </activity>
        <activity
            android:name=".receiver.OpenOtherApp"
            android:label="@string/title_activity_open_other_app"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luizgadao.androidestudos.MainActivity" />
        </activity>
        <activity
            android:name=".notification.CreateNotification"
            android:label="@string/title_activity_create_notification"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luizgadao.androidestudos.MainActivity" />
        </activity>
        <activity
            android:name=".service.TestService1"
            android:label="@string/title_activity_test_service1"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luizgadao.androidestudos.MainActivity" />
        </activity>
        <activity
            android:name=".service.ServiceWithBind"
            android:label="@string/title_activity_service_with_bind"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luizgadao.androidestudos.MainActivity" />
        </activity>

        <activity
            android:name=".service.TestServiceIntent"
            android:label="@string/title_activity_test_service_intent"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luizgadao.androidestudos.MainActivity" />
        </activity>

        <receiver
            android:name=".receiver.MyReceiver1"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="DO_SOMETHING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- run when OS start and finish boot -->
        <receiver
            android:name=".receiver.TestBootComplete"
            android:enabled="true"
            android:exported="true"
            android:permission="android.intent.action.BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.OpenActivity"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_TEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- setup for api java -->
        <receiver android:name=".receiver.ReceiverAPI" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="SERVICE_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyServiceConnection"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="SERVICE_CONNECTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="SERVICE_INTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


    </application>

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
